.wrapper {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.btn {
    border: none;
    margin-right: 10px;
}
.icon_reverse {
    width: 24px;
    height: 24px;
    margin-right: auto;
    transform: rotate(180deg);
}

.icon {
    width: 24px;
    height: 24px;
}