.logo_container {
    display: block;
    margin-right: auto;
    box-shadow: grey 0px 30px 40px -2em inset;
}

.icon {
    display: inline-block;
    width: 129px;
    height: 28px;
    box-shadow: var(--bcg-second) 0px 50px 10px 3em inset;
}