.wrap {
    margin: 0 auto;
    padding: 40px 20px;
    width: 280px;
    background-color: var(--bcg-second);
  
    @media (min-width: 768px) {
      padding: 40px 73px;
      width: 704px;
    }
  
    @media (min-width: 1280px) {
      padding: 40px 91px;
      width: 821px;
    }
  }
  
  .text {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 1.21;
      margin-bottom: 8px;
    }
  }
  
  .active_text {
    font-weight: 700;
    color: var(--color-active-menu);
  }
  
  .btn {
    width: 130px;
    height: auto;
    padding: 17px 14px;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 18px;
    border: none;
  }
  
  .upper_wrap {
    display: flex;
  }
  