.wrap {
}

.wrap_content {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding-top: 60px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1280px) {
    justify-content: center;
  }
}

.text {
  color: var(--color-active-menu);
  font-size: 22px;
  line-height: 1.67;

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.85;
  }
}

.input {
  margin-bottom: 32px;

  @media (min-width: 768px) {
    width: 400px;
  }
}

.btn {
  display: block;
  width: 150px;
  padding: 10px 30px;
  font-size: 9px;
  line-height: 1.25;
  margin: 0 auto;

  @media (min-width: 768px) {
    font-size: 12px;
  }
}
