.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.new_name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 50%;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(18, 29, 46, 0.1);
}

@media screen and (max-width: 767px) {
    .name {
       display: none;
    }
}

.line {
    display: block;
    width: 1px;
    height: 68px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--color-border);
}

.mobile_line {
    display: block;
    width: 1px;
    height: 68px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--color-border);
}