.icon {
    display: inline-block;
    width: 129px;
    height: 28px;
    stroke-width: 0;
    stroke: var(--bcg-btn-active)r;
    fill: var(--bcg-btn-active);
    mask-image: var(--bcg-btn-active);
}