.overlay {
    position: fixed;
    top: 68px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    z-index: 1;

    transition: 500ms ease-in; 
}

.open {
    composes: overlay;

    left: 100%;
    transition: 500ms ease-in;
}

@media screen and (min-width: 768px) {
    .overlay {
        display: none;
    }
}

.mobile_container {
    position: relative;
    top: 1px;
    width: 100%;
    height: 100vh;
    background-color: var(--bcg-primary);
    transition: background-color 500ms ease-in-out;

    z-index: 1;
}

@media screen and (min-width: 768px) {
    .mobile_container {
        display: none;
    }
}

.mobile_menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .mobile_menu {
        display: none;
    }
}

.item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-bottom: 1px solid var(--color-border);
}

.item:hover,
.item:focus {
    transform: scale(1.05);
    transition: 300ms ease-in-out;
}

.link {
    font-size: 14px;
    line-height: 0.86;
    color: var(--text-primary);
    transition: 1000ms;
    padding: 26px 50px;
}

.isActive {
    padding: 26px 100px;
    font-size: 14px;
    line-height: 16px;
}

.isActive::after {
    content: "";
    display: block;
    bottom: -3px;
    left: 0;
    height: 1px;
    background-color: var(--bcg-btn-active);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_logout {
    width: 16px;
    height: 16px;
    margin-top: 28px;

    cursor: pointer;
    fill: var(--text-primary);
    transition: 500ms ease-in-out;
    z-index: 999;
}

.icon_logout:hover,
.icon_logout:focus {
    transform: scale(1.05);
    transition: 500ms ease-in-out;
    fill: red;
}