.input {
    width: 240px;
    height: 56px;
    outline: none;
    border: 1px solid var(--color-input);
    padding: 20px;
    font-family: var(--main-font-famali);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: var(--text-input-placeholder);
    margin-bottom: 24px;
   
}

 @media screen and (min-width: 768px) {
    .input {
        width: 425px;
        padding: 20px 25px;
    }
 }