.header {
    position: sticky;
    width: 100vw;
    top: 0;
    text-align: end;

    background-color: #F5F6FB;
    border-bottom: 1px solid var(--color-border);
    z-index: 1000;
}

@media screen and (min-width: 1280px) {
    .header {
       position: relative;
    }
}

.isActive {
    position: sticky;
    width: 100vw;
    top: 0;

    background-color: #F5F6FB;
    border-bottom: 1px solid var(--color-border);
    z-index: 1000;
}

@media screen and (min-width: 1280px) {
    .isActive {
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    .isActive {
        padding: 20px 0;
    }
}

.container_header {
    display: flex;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.icon_logout {
    width: 16px;
    height: 16px;

    cursor: pointer;
    transition: 500ms ease-in-out;
}

.icon_logout:hover,
.icon_logout:focus {
    transform: scale(1.05);
    transition: 500ms ease-in-out;
    fill: red;
}

@media screen and (max-width: 767px) {
    .icon_logout {
        display: none;
    }
}

.wrapper_mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}