@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap");

:root {
  --bcg-primary: #f5f6fb;
  --bcg-second: #ffffff;
  --bcg-footer: #02172a;
  --bcg-btn-dark: #02172a;
  --bcg-btn-active: #ff6b09;
  --bcg-btn-light: #ffffff;
  --bcg-google-btn: #fafafa;
  --bcg-test-dark: #02172a;
  --bcg-test-light: #ff6b01;
  --text-primary: #000000;
  --text-secondary: #555555;
  --text-light: #ffffff;
  --text-footer: rgba(255, 255, 255, 0.4);
  --color-active-menu: #ff6b09;
  --color-border: #e2e3e5;
  --color-border-bottom: 1px solid #00122f; /*after title on page*/
  --color-shodow: rgba(2, 23, 42, 0.1);
  --color-input: #ced2d1;
  --diagram-positive: #ff6b01;
  --diagram-negative: #d7d7d7;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
