.btn {
  width: 280px;
  height: 212px;
  filter: drop-shadow(0px 4px 15px rgba(18, 29, 46, 0.15));
  font-weight: 800;
  font-size: 24px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  background-color: var(--bcg-big-button);;
  color: var(--color-big-button);
  padding-top: 60px;
  padding-bottom: 42px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 2px 20px;
  transition: 0.2s;
  @media screen and (min-width: 768px) {
    width: 400px;
    font-size: 32px;
    padding: 60px 14px 42px 12px
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
}

.btn_orang {
  @extend .btn;
  padding: 60px 88px 42px 87px;
  color: var(--text-light);
  background-color: var(--bcg-test-light);
  @media screen and (min-width: 768px) {
    padding: 60px 134px 42px 134px
  }
}