.img {
  display: block;
  margin: 0 auto;
  width: 200px;

  @media (min-width: 768px) {
    width: 300px;
  }

  @media (min-width: 1280px) {
    width: 400px;
  }
}

.text {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 34px;

  font-size: 12px;
  line-height: 1.67;

  @media (min-width: 768px) {
    width: 700px;

    font-size: 17px;
    line-height: 1.36;
  }

  @media (min-width: 1280px) {
    width: 725px;
    font-size: 18px;
  }
}

.btn_wrap {
  display: flex;
  justify-content: space-around;

  @media (min-width: 768px) {
    justify-content: center;
    padding-bottom: 50px;
  }
}

.res_btn_activ {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(0, 132, 176);
  width: auto;
  padding: 0;
  height: auto;
  padding-left: 10px;
  font-size: 9px;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.back_login_btn {
  padding: 10px 20px;
  font-size: 9px;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: 12px;
  }
}

.text_wrap_email {
  text-decoration: underline;
  color: rgb(0, 132, 176);
}

.text_wrap_sec {
  width: 160px;
  color: var(--bcg-test-light);
}
